
#sidebarMenu{
    background-color: $sidebar-bg-color;
    height: 100vh;
}
.sidebar-menu{
    display: flex;
    flex-direction: column;
    
    .sidebar-item{
        margin: 4px;
        padding: 9px 24px;
        width: calc(100% - 8px);
        display: flex;
        gap: 8px;
        color: $sidebar-item-color;
        border-radius: $btn-radius;
        &:hover{
            color: $sidebar-item-active-color;
        }
    }
    .sidebar-item.active{
        background-color: $sidebar-active-color;
        color: $sidebar-item-active-color;
    }
    .sidebar-dropdown-item{
        position: relative;
        .sidebar-item:not(.sidebar-sub-item){
            position: relative;
            &::after{
                @include icon;
                right: 9px;
                content: "\ea3e";
                width: 24px;
                height: 24px;
            }
        }
        .dropdown-content{
            display: none;
            
        }
        &.active{
            .sidebar-item:not(.sidebar-sub-item)::after{

                content: "\ea3a";
            }
            .dropdown-content{
                display: block;
            
            }
        }
        .sidebar-sub-item{
            margin: 0;
            width: 100%;
            background-color: $sidebar-sub-bg-color;
            border-radius: 0;
        }

    }
}